@import url('./reset.css');

body {
    background-color: #F9F9F9;
    width: 100%;
    height: auto;
}

header {
    background-color: #FFFFFF;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14px;
    gap: 52px;
    vertical-align: middle;
}



input {
    
box-sizing: border-box;


width: 258px;
height: 30px;


background: #FFFFFF;
border: 1px solid #CCCCCC;


}

button {
    box-sizing: border-box;

position: relative;
width: 57px;
height: 30px;
left: -5px;
top: 6px;

background: #F8F8F8;
border: 1px solid #CCCCCC;
}

.icons {
    margin-left: 20px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

#principal {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 65%;
    height: 90%;
    margin: 7px 0 0 60px;
    flex-wrap: nowrap;
}

#recommended {
    width: 27%;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    margin-right: 20px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    align-content: center;
    margin-top: 7px;
}

h2 {
width: 100%;
height: 23px;
margin-bottom: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
color: #000000;
font-size: larger;
}

#video {
    width: 100%;
}
#vid {
    
    width: 100%;
    height: 50%;
    object-fit: contain;
}

#description {
    width: 100%;
    display: flex;
    align-items: flex-start;
    top: 10%;
    gap: 20px;
}

#channel {
    position: relative;
    width: 150px;
    height: 42px;
    display: flex;
    
}



#dioinfo{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding-left: 5px;
}

#dioinfo h3{
    padding-top: 5px;

    width: 106px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

#dioinfo p {
    width: 106px;
height: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 16px;
}

#principal h3{
   padding-top: 5px;
    width: 391px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
}

#principal p {
    width: 510px;
height: 64px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #515151;
}

.recomend{

    position: relative;
    display: flex;

    height: 100px;
    gap: 5px;
}

.recomendtext h3{
vertical-align: bottom;
width: 196px;
height: 32px;
left: 176px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;

color: #000000;
padding-bottom: 3px;
}

.recomendtext p {

width: 196px;
height: 14px;
left: 176px;
top: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */

padding-bottom: 3px;
color: #515151;
}